body {
	font-family: 'Sono', sans-serif;
	font-size: 16px;
	text-align: center;
	background-color: #0d1117;
	color: #8b949e;
}

h1 {
	font-size: 38px;
	color: #58a6ff;
}

.heading {
	position: relative;
	width: 100%;
}

.headingText {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.largeImage {
	width: 100%;
	height: auto;
}

.largeTable {
	width: 100%;
	height: auto;
}

.cell {
	width: auto;
	height: 200px;
	
	background-color: #21262d;
	border: 1px solid #363b42;
	border-radius: 10px;
	
	color: #c9d1d9;
	text-align: center;
	
	transition-duration: 0.1s;
	cursor: pointer;
}

.cell:hover {
	background-color: #30363d;
	border: 1px solid #8b949e;
}

.container {
	display: flex;
}

.leftImage {
	position: left;
}

.rightText {
	color: #c9d1d9;
}

.image {
	width: 75px;
}