body {
	font-family: 'Sono', sans-serif;
	font-size: 16px;
	text-align: center;
	background-color: #0d1117;
	color: #8b949e;
}

h1 {
	font-size: 32px;
	color: #58a6ff;
}

.cell {
	width: auto;
	height: 200px;
	
	background-color: #21262d;
	border: 1px solid #363b42;
	border-radius: 10px;
	
	color: #c9d1d9;
	text-align: center;
	
	transition-duration: 0.1s;
	cursor: pointer;
}

.cell:hover {
	background-color: #30363d;
	border: 1px solid #8b949e;
}


.headerCell {
	padding: 0px;
	border-spacing: 0px;
}


.cellContainer {
	position: relative;
	text-align: center;
}

.cellText {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translate(-50%, -50%);
	
	font-weight: bold;
	font-size: 22px;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  2px 2px 0 #000,
				  2px 2px 0 #000;
}

.image {
	width: 256px;
	height: 256px;
	border-radius: 10px;
}


.galleryImage {
    width: auto;
    height: 85%;
}


.arrowLeft {
	position: absolute;
	top: 50%;
	left: 50px;
	
	width: 35px;
	opacity: 0.5;
	
	transition-duration: 0.1s;
	cursor: pointer;
}

.arrowLeft:hover {
	opacity: 0.8;
}


.arrowRight {
	position: absolute;
	top: 50%;
	right: 50px;
	
	width: 35px;
	opacity: 0.5;
	
	transition-duration: 0.1s;
	cursor: pointer;
}

.arrowRight:hover {
	opacity: 0.8;
}